<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jemaat Sika | {{ halaman }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/user/img/logo.png') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/user/login.css') }}">
</head>

<body>
    <div class="registration-form">
        <form method="post">
            <div class="form-head">
                Masuk
            </div>
            {# begin:: alert #}
            {% if error %}
            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}

            {% if app.user %}
            <div class="alert alert-warning alert-dismissible bg-warning text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                You are logged in as <strong>{{ app.user.username }}</strong>, <a
                    href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}
            {# end:: alert #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            <div class="form-group">
                <input type="text" class="form-control item" name="username" id="username"
                    placeholder="Username" required="required" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" name="password" id="password"
                    placeholder="Password" required="required" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-user btn-success">Masuk</button>
                <a href="/" class="btn btn-block btn-user btn-danger">Batal</a>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ asset('assets/user/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>